
a {
    display: flex;
    text-decoration: none;
    margin: 15px;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(12, 11, 11);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    background-color: #333;
}

p{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}
